<nz-page-header>
  <nz-page-header-title>
    <i nz-icon nzType="clock-circle" nzTheme="outline" style="margin-right: 5px;"></i> Saved at: 2022-06-04 21:37:07
  </nz-page-header-title>
  <nz-page-header-footer>
  </nz-page-header-footer>
  <nz-page-header-extra>
    <button nz-button nzType="primary">{{'PAGES.POST_WRITE.BUTTON_PUBLISH' |translate}}</button>
  </nz-page-header-extra>
</nz-page-header>
<form nz-form [formGroup]="postForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzFor="title">Tag</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="tag" id="tag">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzFor="title">Category</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="category" id="category">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

</form>

<editor [(ngModel)]="content" [init]="tinyConfig"></editor>
