.login-container {
  height: 100%;

  .login-form {
    width: 368px;
    opacity: 0.65;
    text-align: center;
    height: 100%;

    .logo {
      width: 60px;
      height: 60px;
    }

    .setting-container {
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: right;
      align-items: center;
      padding-right: 20px;

      .setting {
        bottom: 0;
        right: 10px;
        cursor: pointer;
      }
    }



    .skip {
      margin: 10px 0 20px 0;
    }
  }

  @media (max-width: 368px) {
    .login-form {
      width: 100%;
    }
  }

}
