<div nz-row nzJustify="center" nzAlign="middle" class="login-container">
  <div class="login-form">
    <div class="g-flex-v-center" style="height:100%;">
      <img class="logo" src="assets/icons/favicon.png" />
      <h2 nz-typography>{{'APP.NAME' | translate}}</h2>
      <h3 nz-typography>{{'APP.DESCRIPTION' | translate}}</h3>
      <button nz-button nzType="primary" nzSize="large" nzShape="round">
        <i nz-icon nzType="github"></i>
        {{ 'PAGES.LOGIN.HEADER' | translate }}
      </button>
      <button class="skip" (click)="skip()" nz-button nzType="link">{{ 'PAGES.LOGIN.SKIP' | translate }}</button>
      <div class="setting-container ">
        <span class="setting" nz-typography nzType="secondary"> {{ 'PAGES.LOGIN.PROXY_SETTING' | translate }}</span>
      </div>
    </div>
  </div>
</div>
