<page-header [title]="'PAGES.SETTING.TITLE' |translate"></page-header>

<nz-list>
  <nz-list-item>
    <span>{{'PAGES.SETTING.DISPLAY_LANGUAGE'|translate}}</span>
    <nz-select [ngModel]="language" (ngModelChange)="changeLang($event)">
      <nz-option nzValue="en_US" nzLabel="English"></nz-option>
      <nz-option nzValue="zh_CN" nzLabel="简体中文"></nz-option>
    </nz-select>
  </nz-list-item>
  <nz-list-item [class.no-border]="proxyEnable">
    <span>{{'PAGES.SETTING.ABOUT_US'|translate}}</span>
  </nz-list-item>
</nz-list>

<div class="g-flex-center">
  <button (click)="save()" nz-button nzType="primary" nzSize="large"
    style="margin-top: 30px;">{{'PAGES.SETTING.SAVE'|translate}}</button>
</div>
